# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
*.env
.venv

# Flask instance folder
instance/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
eggs-info/
pip-wheel-metadata/
*.egg-info/
*.egg

# IDE and editor settings
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
